.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: @second-font-color;
  background-color: @main-bg-color;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  &-list {
    width: 33%;

    &:first-child {

      .footer-list__title {
        margin: 13px 0 13px -4px;
      }

      .footer-list__item {
        margin-left: -4px;

        &:first-of-type {
          margin-bottom: 2px;
        }

        &:nth-of-type(3) {
          margin-bottom: 1px;
        }
      }
    }

    &:nth-child(2) {
      
      .footer-list__title {
        margin: 13px 0 13px -6px;
      }

      .footer-list__item {
        margin-left: -6px;

        &:first-of-type {
          margin-bottom: 2px;
        }

        &:nth-of-type(3) {
          margin-bottom: 1px;
        }
      }
    }

    &:last-child {

      .footer-list__title {
        margin: 13px 0 13px -8px;
      }

      .footer-list__item {
        margin-left: -8px;

        &:first-of-type {
          margin-bottom: 2px;
        }

        &:nth-of-type(3) {
          margin-bottom: 1px;
        }

        &:nth-of-type(4) {
          margin-bottom: 1px;
        }

        &:nth-of-type(5) {
          margin-bottom: 1px;
        }
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 152.9%;
      margin: 12px 0;
    }

    &__item {
      font-size: 18px;
      font-weight: normal;
      line-height: 160%;
    }

    &__link {
      color: @second-font-color;
      text-decoration: none;
    }
  }
}