.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: @second-font-color;
  background-color: @main-bg-color;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  &-list {
    width: 33%;

    &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 152.9%;
      margin: 12px 0;
    }

    &__item {
      font-size: 18px;
      font-weight: normal;
      line-height: 160%;
    }

    &__link {
      color: @second-font-color;
      text-decoration: none;
    }
  }
}