/* styles reset */

@import "node_modules/normalize.less/normalize.less";

/* variables */

@import 'variables.less';

// sprite images

.sprite-employees-image-min {
  width: 94px;
  height: 94px;
  background-position: -5px -5px;
}

.sprite-piggybank-image-min {
  width: 94px;
  height: 94px;
  background-position: -109px -5px;
}

.sprite-risks-image-min {
  width: 94px;
  height: 94px;
  background-position: -213px -5px;
}

.sprite-support-image-min {
  width: 94px;
  height: 94px;
  background-position: -317px -5px;
}

.sprite-thumb-image-min {
  width: 93px;
  height: 94px;
  background-position: -421px -5px;
}

.sprite-useful-and-quick-min {
  width: 94px;
  height: 94px;
  background-position: -524px -5px;
}

/* main styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @main-font;
}

@import 'header.less';
@import 'menu.less';
@import 'callback.less';
@import 'main.less';
@import 'services.less';
@import 'benefits.less';
@import 'partners.less';
@import 'calculator.less';
@import 'mission.less';
@import 'footer.less';
// @import 'gallery.less';

