/* styles reset */

@import "node_modules/normalize.less/normalize.less";

/* variables */

@import 'variables.less';

/* main styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: @main-bg-color;
  font-family: @main-font;
}

@import 'header.less';
@import 'menu.less';
@import 'callback.less';
// @import 'gallery.less';
