.banner {
  width: 100%;
  background-image: url('../img/banner-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    width: 504px;
    color: @third-font-color;
    font-family: @second-font;
    font-size: 50px;
    font-weight: 400;
    line-height: 170%;
    margin-top: 58px;
    margin-left: -2px;
    margin-bottom: 101px;
  }

  &__btn {
    color: @second-font-color;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    background-color: @second-bg-color;
    border: none;
    border-radius: 2px;
    padding: 9px 84px;
    margin-left: 2px;
    margin-bottom: 221px;
    cursor: pointer;
  }
}