.menu-list {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-right: 10px;

  @media 
  @mobile,
  @tablet-s,
  @tablet-l {
    position: absolute;
    width: 100%;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: @second-font-color;
    margin-top: 83px;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
  }

  @media @desktop-s {
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0;
  }

  &__item {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    @media 
    @mobile,
    @tablet-s,
    @tablet-l {
      margin-top: 20px;
      margin-bottom: 20px;
      z-index: 1;
    }

    &:first-child {
      margin-right: 2px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 1px;
    }
  }

  &__link {
    color: @main-font-color;
    text-decoration: none;
    padding: 2px 7px 4px;

    &:hover {
      color: @second-font-color;
      background-color: @third-bg-color;
    }

    &_letters {
      margin-left: 4px;
    }
  }
}

.burger-wrapper {
  display: none;
  width: 25px;
  height: 15px;
  align-self: center;
  cursor: pointer;

  @media 
  @mobile,
  @tablet-s,
  @tablet-l {
    display: block;
    order: 1;
  }
}

.burger {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: @third-bg-color;

  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: 12px;
    background-color: @third-bg-color;
  }

  &::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: 6px;
    background-color: @third-bg-color;
  }  
}

.nav-active {
  transform: translateX(0%);
}