doctype html
html(lang="ru-RU")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Expert Buisiness Center
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=cyrillic')
  body
    include ../layout/header
    include ../layout/main
    include ../layout/footer