section.benefits
  h2.benefits__title Почему мы?
  .benefits__wrapper
    ul.benefits-list
      li.benefit
        .benefit__title Контроль качества
        .benefit__description 2 раза в год мы проводим внутренний аудит бухучета
      li.benefit
        .benefit__title Доступные цены
        .benefit__description Индивидуальный подход к каждому клиенту
      li.benefit
        .benefit__title Консультация эксперта
        .benefit__description По вопросам любой сложности
      li.benefit
        .benefit__title Риски исключены
        .benefit__description Для нас репутация нашей компании важнее разовой выгоды
      li.benefit
        .benefit__title Удобно и оперативно
        .benefit__description Сдача отчетности по телекоммуникационным каналам связи
      li.benefit
        .benefit__title Сотрудники
        .benefit__description У нас в команде только высококвалифицированные специалисты