footer.footer
  .footer__wrapper
    ul.footer-list
      h3.footer-list__title Контакты
      li.footer-list__item Пенза, ул. Лермонтова, д. 3, оф. 15
      li.footer-list__item Телефон 8 (8412) 30-41-91
      li.footer-list__item Телефон 8 (8412) 39-16-63
      li.footer-list__item E-mail info@bc-expert.pro
    ul.footer-list
      h3.footer-list__title Услуги
      li.footer-list__item: a(class='footer-list__link' href='#') Бухгалтерские услуги 
      li.footer-list__item: a(class='footer-list__link' href='#') Юридические услуги 
      li.footer-list__item: a(class='footer-list__link' href='#') Управленческий учет
    ul.footer-list
      h3.footer-list__title Информация
      li.footer-list__item: a(class='footer-list__link' href='#') О компании
      li.footer-list__item: a(class='footer-list__link' href='#') Школа предпринимателя
      li.footer-list__item: a(class='footer-list__link' href='#') Вопросы и ответы
      li.footer-list__item: a(class='footer-list__link' href='#') Клиенты о нас
      li.footer-list__item: a(class='footer-list__link' href='#') Контакты 
      li.footer-list__item: a(class='footer-list__link' href='#') Карта сайта