ul.menu-list
  li.menu-list__item: a(class='menu-list__link' href='#') Главная
  li.menu-list__item: a(class='menu-list__link' href='#') О компании
  li.menu-list__item: a(class='menu-list__link' href='#') Услуги
  li.menu-list__item: a(class='menu-list__link' href='#') Новости
  li.menu-list__item: a(class='menu-list__link' href='#') Школа предпринимателя
  li.menu-list__item: a(class='menu-list__link' href='#') Сертфикаты
  li.menu-list__item: a(class='menu-list__link' href='#') Клиенты 
    span.menu-list__link_letters о нас
  li.menu-list__item: a(class='menu-list__link' href='#') Контакты