section.mission
  h2.mission__title Миссия консалтинговой компании БЦ Эксперт
  .mission__wrapper
    iframe(class='mission__video' src='https://www.youtube.com/embed/vHVN60ibVqs' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.mission__description 
      p.mission__description_first Мы экономим Ваши деньги и время, давая Вам готовые решения по управлению бизнесом (оптимизация налогообложения, внедрение корпоративной системы управления, ведение бухгалтерского учета и др.).
      br
      p.mission__description_second Внедряем только новые технологии по управлению предприятием, разработанные в соответствии со спецификой деятельности, охватывающие предприятие в целом, а не отдельные её элементы.
      br
      p.mission__description_third В зависимости от Ваших потребностей индивидуально подходим к работе, понимая специфику деятельности и проблемы бизнеса, не предлагаем лишних услуг и подбираем оптимальные тарифы для экономии Ваших денег.
      br
      p.mission__description_fourth Мы заинтересованы в развитии наших Клиентов и хотим, чтобы мы развивались вместе!