section.services
  h2.services__title Мы предоставляем
  ul.services-list
    li.service
      h3.service__title Бухгалтерские услуги
      p.service__description Комплексное бухгалтерское сопровождение
      button.service__btn Подробнее
    li.service
      h3.service__title Юридические услуги
      p.service__description Юридическое сопровождение компании
      button.service__btn Подробнее
    li.service
      h3.service__title Управленческий учет
      p.service__description Услуги по внедрению управленческого учета на предприятии
      button.service__btn Подробнее